[submodule "Blitz/thirdparty/glad-cmake"]
	path = Blitz/thirdparty/glad-cmake
	url = https://github.com/SzymonGo1337/glad-cmake.git
[submodule "Blitz/thirdparty/glfw"]
	path = Blitz/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Blitz/thirdparty/glm"]
	path = Blitz/thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Blitz/thirdparty/soil2-cmake"]
	path = Blitz/thirdparty/soil2-cmake
	url = https://github.com/Jacob-Tate/soil2-cmake.git
[submodule "Blitz/thirdparty/imgui-cmake"]
	path = Blitz/thirdparty/imgui-cmake
	url = https://github.com/SzymonGo1337/imgui-cmake.git
